/ViewpointWebServiceCore/JessieProvider/bin/*
/ViewpointWebServiceCore/JessieProvider/obj/*
/ViewpointWebServiceCore/ViewpointWebServiceCore/bin/*
/ViewpointWebServiceCore/ViewpointWebServiceCore/obj/*
/ViewpointWebServiceCore/.vs/ViewpointWebServiceCore/DesignTimeBuild/.dtbcache.v2
/ViewpointWebServiceCore/.vs/ViewpointWebServiceCore/v16/.suo
